@using Microsoft.AspNetCore.Authorization

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @if(User.Identity.IsAuthenticated){
        <title>@ViewData["Title"] - Autenticado</title>
    }else{
        <title>@ViewData["Title"] - No Autenticado</title>
    }
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/restaurant.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navBarComponent">
                @if(User.Identity.IsAuthenticated){
                    <a class="navbar-brand" asp-area="" asp-controller="Usuario" asp-action="IndexUsuario"><img src="~/img/RestaurantLogo.png"/></a>
                }else{
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/RestaurantLogo.png"/></a>
                }
                <div class="navBarComponent_linksHandler">
                    <ul class="linksHandler_pageModules">
                        <li class="pageModules_item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/CartIcon.svg"/>Carrito</a>
                        </li>
                        <li class="pageModules_item">
                            <a class="nav-link text-light"><img src="~/img/OfertasIcon.svg"/>Ofertas</a>
                        </li>
                        @if(!User.Identity.IsAuthenticated){
                            <li class="pageModules_authItems nav-item">
                                <a asp-controller="Autentificacion" asp-action="Registrarse">Empezar ya</a>
                            </li>
                        }else{
                            <div id="test" class="UserSection">
                                <div class="UserSection_imgHandler">
                                    <img class="imgHandler_avatarImage" src="~/img/userCircleIcon.svg"/>
                                </div>
                                <div class="UserSection_options hidden">
                                    <div class="options_userActions">
                                        <label>@User.Identity.Name</label>
                                        <a asp-controller="Usuario" asp-action="VerPerfil" asp-route-idUser='@User.FindFirst("idUser")?.Value'>Ver Perfil</a>
                                        <a asp-controller="Autentificacion" asp-action="logout">Cerrar Sesion</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </ul>
                </div>
            
        </nav>
        <div class="cellNavBar">
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/CartIcon.svg"/>Carrito</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light"><img src="~/img/OfertasIcon.svg"/>Ofertas</a>
            </li>
        </div>
    </header>
    <main role="main" class="HomeMainContainer">
        @RenderBody()
    </main>


    <footer>
        @if(User.IsInRole("ADMIN")){
            <div class="container">
            &copy; ADMIN- restaurant - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
        }else{
            <div class="container">
            &copy; 2024 - restaurant - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
        }

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
